@import url("../css/bootstrap.min.css");
@import url("../css/animate.min.css");
@import url("../css/font-awesome.min.css");
@import url("../css/jquery.mCustomScrollbar.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@font-face {
    font-family: 'BrandonText-Bold';
    src: url("../fonts/myfonts/brandontext-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/myfonts/brandontext-bold.otf") format("opentype"), url("../fonts/myfonts/brandontext-bold.woff") format("woff"), url("../fonts/myfonts/brandontext-bold.ttf") format("truetype"), url("../fonts/myfonts/brandontext-bold.svg#BrandonText-Bold") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'BrandonText-Regular';
    src: url("../fonts/myfonts/brandontext-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/myfonts/brandontext-regular.otf") format("opentype"), url("../fonts/myfonts/brandontext-regular.woff") format("woff"), url("../fonts/myfonts/brandontext-regular.ttf") format("truetype"), url("../fonts/myfonts/brandontext-regular.svg#BrandonText-Regular") format("svg");
    font-weight: normal;
    font-style: normal
}

body,
html {
    margin: 0;
    padding: 0;
    position: inherit
}

body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    overflow-x: hidden;
    -webkit-text-stroke: rgba(255, 255, 255, 0.01) 0.1px;
    -webkit-font-smoothing: antialiased!important
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    font-weight: normal
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal
}

a,
a:active,
a:focus,
a:hover {
    text-decoration: none;
    outline: none
}

a {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out
}

input,
select,
textarea {
    font-weight: normal
}

* {
    outline: none
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    -webkit-text-stroke: rgba(255, 255, 255, 0.01) 0.1px
}

select::-ms-expand {
    display: none
}

::-moz-selection {
    background: #eabd4e;
    color: #fff
}

::selection {
    background: #eabd4e;
    color: #fff
}

input,
select,
textarea {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none
}

.clearfix {
    clear: both
}

img {
    max-width: 100%;
    height: auto
}

figure {
    margin: 0
}

@font-face {
    font-family: 'BrandonText-Bold';
    src: url("../fonts/myfonts/brandontext-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/myfonts/brandontext-bold.otf") format("opentype"), url("../fonts/myfonts/brandontext-bold.woff") format("woff"), url("../fonts/myfonts/brandontext-bold.ttf") format("truetype"), url("../fonts/myfonts/brandontext-bold.svg#BrandonText-Bold") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'BrandonText-Regular';
    src: url("../fonts/myfonts/brandontext-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/myfonts/brandontext-regular.otf") format("opentype"), url("../fonts/myfonts/brandontext-regular.woff") format("woff"), url("../fonts/myfonts/fonts/brandontext-regular.ttf") format("truetype"), url("../fonts/myfonts/fonts/brandontext-regular.svg#BrandonText-Regular") format("svg");
    font-weight: normal;
    font-style: normal
}

body {
    background: #00315a;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 400
}

.intl-tel-input .country-list {
    overflow: hidden;
    width: 358px
}

div.wpcf7 .ajax-loader {
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

#mce-success-response,
#wait_approval,
div.wpcf7-mail-sent-ok {
    background: rgba(115, 208, 156, 0.8) none repeat scroll 0 0;
    border: 1px solid #2da725;
    color: #ffffff;
    float: left;
    font-size: 15px;
    margin: 15px 0 0;
    padding: 6px!important;
    text-align: center;
    width: 100%
}

#wait_approval {
    margin-bottom: 10px
}

.response a,
div.wpcf7-mail-sent-ok a {
    color: #d73434
}

.response a:hover,
div.wpcf7-mail-sent-ok a:hover {
    color: #000000
}

label.error {
    display: none!important
}

.error,
.form-control.wpcf7-not-valid,
.search-form .error {
    border: 1px solid #ff0000!important;
    outline: 0
}

span.wpcf7-not-valid-tip {
    display: none
}

#mce-error-response,
div.wpcf7-spam-blocked,
div.wpcf7-validation-errors {
    background: #e9c8c8 none repeat scroll 0 0;
    border: 2px solid #e5aaaa;
    color: #d73434;
    float: left;
    font-size: 15px;
    margin: 0;
    padding: 6px;
    text-align: center;
    width: 100%;
    margin-top: 10px
}

@media only screen and (max-width:991px) {
    #mce-error-response,
    div.wpcf7-spam-blocked,
    div.wpcf7-validation-errors {
        margin: 10px 0px 20px
    }
}

.erors_msg {
    color: red;
    background: #e9c8c8;
    border: 2px solid #e5aaaa;
    color: #d73434;
    display: inline-block;
    font-size: 15px;
    margin: 0 0 20px;
    padding: 3px 20px;
    text-align: center;
    width: 41%
}

#mc_embed_signup div.mce_inline_error {
    font-weight: 400!important;
    font-size: 14px
}

.form-control {
    color: #fff;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    height: 52px;
    width: 100%;
    background: #012646;
    border: 1px solid #012646;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
    padding: 0 15px;
    border-radius: 0
}

.intl-tel-input {
    width: 100%
}

.intl-tel-input .selected-flag .iti-arrow {
    border-top: 4px solid #fff!important
}

input.wpcf7-form-control.wpcf7-intl-tel.wpcf7-intl_tel.form-control {
    padding-left: 60px!important
}

@media screen and (min-width:1200px) {
    .container {
        max-width: 1170px
    }
}

.lines {
    background: url(../images/lines.png) repeat;
    background-size: auto;
    position: fixed;
    z-index: -2;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    width: 1143px;
    background-position: center;
    margin: 0 auto
}

@media only screen and (max-width:1199px) {
    .lines {
        width: 100%!important
    }
}

#header-sroll {
    position: fixed;
    background: #becbd9;
    left: 0;
    right: 0;
    top: 0;
    float: left;
    z-index: 999;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out
}

#header-sroll .logo img {
    width: 235px;
    line-height: 50px;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out
}

@media only screen and (max-width:1199px) {
    #header-sroll .logo img {
        width: 185px
    }
}

#header-sroll.small {
    width: 100%;
    padding: 15px 0!important;
    background: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0 1px 7px rgba(24, 179, 50, 0.19);
    box-shadow: 0 1px 7px rgba(24, 179, 50, 0.19)
}

@media only screen and (max-width:767px) {
    #header-sroll.small {
        padding: 10px 0!important
    }
}

#header-sroll.small .logo img {
    width: 200px
}

@media only screen and (max-width:991px) {
    #header-sroll.small .logo img {
        width: 200px
    }
}

@media only screen and (max-width:767px) {
    #header-sroll.small .logo img {
        width: 200px
    }
}

#header-sroll.small ul.navbar-nav li a {
    font-size: 14px
}

#header-sroll.small ul.navbar-nav li a:after {
    bottom: -29px
}

@media only screen and (max-width:991px) {
    #header-sroll.small ul.navbar-nav li a {
        display: block;
        padding: 10px 0
    }
}

header {
    padding: 15px 0
}

@media only screen and (max-width:767px) {
    header {
        padding: 10px 0
    }
}

header .header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center
}

header .header-top .logo {
    padding: 0;
    margin: 0
}

header .header-top .logo a {
    display: block
}

@media only screen and (max-width:991px) {
    header .header-top .logo a img {
        width: 65%
    }
}

@media only screen and (max-width:767px) {
    header .header-top .logo a img {
        width: 50%
    }
}

header .header-top .navbar {
    padding: 0
}

@media only screen and (max-width:991px) {
    header .header-top .navbar {
        padding: 0;
        position: static
    }
    header .header-top .navbar .tel {
        display: none
    }
}

header .header-top .navbar .navbar-toggler.collapsed {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out
}

header .header-top .navbar .navbar-toggler {
    border-radius: 0;
    border: none;
    outline: none;
    padding: 0;
    background: url("../images/menu-icon.png") no-repeat;
    background-position: center;
    background-size: 100%;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out
}

@media only screen and (max-width:991px) {
    header .header-top .navbar .navbar-collapse {
        position: absolute;
        top: 100%;
        background: #fff;
        right: 0;
        left: 0;
        margin-left: 30px;
        margin-right: 30px
    }
}

@media only screen and (max-width:479px) {
    header .header-top .navbar .navbar-collapse {
        margin-left: 15px;
        margin-right: 15px
    }
}

header .header-top .navbar ul li {
    padding: 0 12px
}

header .header-top .navbar ul li:last-of-type {
    padding-right: 0
}

@media only screen and (max-width:1199px) {
    header .header-top .navbar ul li {
        padding: 0 7px
    }
}

@media only screen and (max-width:991px) {
    header .header-top .navbar ul li {
        padding: 0;
        text-align: center;
        border-bottom: 1px solid #eabd4e
    }
}

header .header-top .navbar ul li a {
    font-size: 16px;
    text-transform: uppercase;
    color: #00315a;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    position: relative
}

header .header-top .navbar ul li a:after {
    content: '';
    position: absolute;
    bottom: -29px;
    left: 0;
    right: 0;
    height: 4px;
    background: #eabd4e;
    -webkit-transform: scaleX(0);
    -o-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    display: block;
    -webkit-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out
}

@media only screen and (max-width:1199px) {
    header .header-top .navbar ul li a:after {
        bottom: -25px
    }
}

@media only screen and (max-width:1199px) and (max-width:991px) {
    header .header-top .navbar ul li a:after {
        display: none
    }
}

header .header-top .navbar ul li a:hover {
    color: #eabd4e
}

header .header-top .navbar ul li a:hover:after {
    -webkit-transform: scaleX(1);
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1)
}

@media only screen and (max-width:1199px) {
    header .header-top .navbar ul li a {
        font-size: 14px
    }
}

@media only screen and (max-width:991px) {
    header .header-top .navbar ul li a {
        display: block;
        padding: 10px 0
    }
}

header .header-top .navbar ul li.current-menu-item a {
    color: #00315a
}

@media only screen and (max-width:991px) {
    header .header-top .navbar ul li.current-menu-item a {
        color: #eabd4e
    }
}

header .header-top .navbar ul li.current-menu-item a:after {
    -webkit-transform: scaleX(1);
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1)
}

section.banner {
    height: 950px;
    position: relative;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

section.banner:after {
    content: '';
    background: rgba(11, 49, 97, 0.58);
    background: -moz-linear-gradient(left, rgba(14, 74, 98, 0.42) 0%, rgba(11, 49, 97, 0.48) 79%);
    background: -webkit-linear-gradient(left, rgba(14, 74, 98, 0.42) 0%, rgba(11, 49, 97, 0.48) 79%);
    background: -webkit-gradient(linear, left top, right top, from(rgba(14, 74, 98, 0.42)), color-stop(79%, rgba(11, 49, 97, 0.48)));
    background: -o-linear-gradient(left, rgba(14, 74, 98, 0.42) 0%, rgba(11, 49, 97, 0.48) 79%);
    background: linear-gradient(to right, rgba(14, 74, 98, 0.42) 0%, rgba(11, 49, 97, 0.48) 79%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

@media only screen and (max-width:1199px) {
    section.banner {
        height: 680px;
        background-attachment: scroll
    }
}

@media only screen and (max-width:991px) {
    section.banner {
        height: 430px;
        background-size: cover;
        background-position: 0 0;
        background-attachment: scroll
    }
}

@media only screen and (max-width:767px) {
    section.banner {
        height: auto;
        margin-top: 58px
    }
}

section.banner .banner_content {
    text-align: center;
    padding: 0 10%;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 3;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

@media only screen and (max-width:1199px) {
    section.banner .banner_content {
        padding: 0 5%
    }
}

@media only screen and (max-width:991px) {
    section.banner .banner_content {
        padding: 0 2%
    }
}

@media only screen and (max-width:767px) {
    section.banner .banner_content {
        padding: 25px 10px;
        position: relative;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        top: 0
    }
}

@media only screen and (max-width:479px) {
    section.banner .banner_content {
        padding: 30px 10px;
        position: relative;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        top: 0
    }
}

section.banner .banner_content h2 {
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'BrandonText-Bold';
    margin-bottom: 18px
}

@media only screen and (max-width:1199px) {
    section.banner .banner_content h2 {
        font-size: 32px
    }
}

@media only screen and (max-width:991px) {
    section.banner .banner_content h2 {
        font-size: 26px;
        margin-bottom: 5px
    }
}

@media only screen and (max-width:767px) {
    section.banner .banner_content h2 {
        font-size: 18px;
        margin-bottom: 10px;
        line-height: 1.3
    }
}

@media only screen and (max-width:479px) {
    section.banner .banner_content h2 {
        font-size: 18px;
        margin-bottom: 10px;
        line-height: 1.3
    }
}

section.banner .banner_content p {
    font-size: 40px;
    color: #fff;
    line-height: 1;
    font-family: 'BrandonText-Regular';
    padding: 0 12%;
    margin-bottom: 60px
}

@media only screen and (max-width:1199px) {
    section.banner .banner_content p {
        font-size: 32px;
        padding: 0 7%;
        margin-bottom: 30px
    }
}

@media only screen and (max-width:991px) {
    section.banner .banner_content p {
        font-size: 28px
    }
}

@media only screen and (max-width:767px) {
    section.banner .banner_content p {
        font-size: 22px;
        margin-bottom: 15px;
        padding: 0;
        line-height: 1.2
    }
}

@media only screen and (max-width:479px) {
    section.banner .banner_content p {
        font-size: 22px;
        margin-bottom: 15px;
        padding: 0;
        line-height: 1.2
    }
}

section.banner .banner_content p strong {
    font-size: 40px;
    color: #eabd4e;
    font-family: 'BrandonText-Regular'
}

@media only screen and (max-width:1199px) {
    section.banner .banner_content p strong {
        font-size: 32px
    }
}

@media only screen and (max-width:1199px) and (max-width:991px) {
    section.banner .banner_content p strong {
        font-size: 28px
    }
}

@media only screen and (max-width:1199px) and (max-width:767px) {
    section.banner .banner_content p strong {
        font-size: 20px
    }
}

@media only screen and (max-width:1199px) and (max-width:479px) {
    section.banner .banner_content p strong {
        font-size: 20px
    }
}

section.banner .banner_content a {
    background: #eabd4e;
    padding: 15px 40px;
    font-size: 16px;
    color: #021f35;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    border-radius: 25px
}

section.banner .banner_content a:hover {
    background: #a57f24;
    color: #fff
}

@media only screen and (max-width:1469px) {
    section.banner .banner_content a {
        padding: 12px 30px;
        font-size: 18px
    }
}

@media only screen and (max-width:767px) {
    section.banner .banner_content a {
        font-size: 14px;
        padding: 6px 15px
    }
}

@media only screen and (max-width:479px) {
    section.banner .banner_content a {
        font-size: 14px;
        padding: 6px 15px
    }
}

section.our_company {
    text-align: center
}

section.our_company .company {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 375px;
    padding: 70px 50px;
    position: relative;
    margin-top: -65px
}

@media only screen and (max-width:1199px) {
    section.our_company .company {
        height: auto;
        padding: 30px 25px
    }
}

@media only screen and (max-width:1199px) and (max-width:767px) {
    section.our_company .company {
        padding: 20px 15px;
        margin-top: 15px
    }
}

section.our_company .company h3 {
    color: #eabd4e;
    font-size: 24px;
    letter-spacing: 0.04em;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 40px
}

@media only screen and (max-width:1199px) {
    section.our_company .company h3 {
        font-size: 20px;
        margin-bottom: 25px
    }
}

@media only screen and (max-width:1199px) and (max-width:767px) {
    section.our_company .company h3 {
        font-size: 18px;
        margin-bottom: 8px
    }
}

section.our_company .company p {
    color: #fff;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 2.2;
    font-weight: 400
}

@media only screen and (max-width:1199px) {
    section.our_company .company p {
        font-size: 14px;
        margin-bottom: 0
    }
}

@media only screen and (max-width:1199px) and (max-width:767px) {
    section.our_company .company p {
        font-size: 14px;
        line-height: 1.6;
        text-align: justify
    }
}

.slide_accordion {
    padding: 70px 0 0;
    text-align: center
}

@media only screen and (max-width:1199px) {
    .slide_accordion {
        padding: 50px 0 0
    }
}

@media only screen and (max-width:1199px) and (max-width:991px) {
    .slide_accordion {
        padding: 40px 0 0
    }
}

@media only screen and (max-width:1199px) and (max-width:991px) and (max-width:767px) {
    .slide_accordion {
        padding: 30px 0 0
    }
}

.slide_accordion h3 {
    color: #eabd4e;
    font-size: 24px;
    letter-spacing: 0.04em;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 50px
}

@media only screen and (max-width:1199px) {
    .slide_accordion h3 {
        font-size: 20px;
        margin-bottom: 40px
    }
}

@media only screen and (max-width:767px) {
    .slide_accordion h3 {
        font-size: 18px;
        margin-bottom: 20px
    }
}

@-webkit-keyframes infoIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    50% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes infoIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    50% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes infoOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    to {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0)
    }
}

@keyframes infoOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    to {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0)
    }
}

.slide_accordion .accordion_slide #hero {
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative
}

.slide_accordion .accordion_slide #hero:before {
    display: block;
    content: "";
    padding-top: 655px
}

@media only screen and (max-width:991px) {
    .slide_accordion .accordion_slide #hero:before {
        padding-top: 480px
    }
}

@media only screen and (max-width:991px) and (max-width:767px) {
    .slide_accordion .accordion_slide #hero:before {
        padding-top: 380px
    }
}

.slide_accordion .accordion_slide .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.slide_accordion .accordion_slide .hero figure {
    margin: 0;
    padding: 0;
    width: 25%;
    height: 660px;
    position: relative;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    -webkit-transition: 0.8s linear;
    -o-transition: 0.8s linear;
    transition: 0.8s linear;
    -webkit-filter: saturate(25%);
    filter: saturate(25%)
}

@media only screen and (max-width:991px) {
    .slide_accordion .accordion_slide .hero figure {
        height: 480px
    }
}

@media only screen and (max-width:991px) and (max-width:767px) {
    .slide_accordion .accordion_slide .hero figure {
        height: 380px
    }
}

.slide_accordion .accordion_slide .hero figure:after {
    background: rgba(18, 23, 133, 0.48);
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.58) 37%, rgba(18, 23, 133, 0.57) 77%);
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.58) 37%, rgba(18, 23, 133, 0.57) 77%);
    background: -webkit-gradient(linear, left top, right top, color-stop(37%, rgba(0, 0, 0, 0.58)), color-stop(77%, rgba(18, 23, 133, 0.57)));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.58) 37%, rgba(18, 23, 133, 0.57) 77%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.58) 37%, rgba(18, 23, 133, 0.57) 77%);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.slide_accordion .accordion_slide .hero figure.on:after {
    background: transparent;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.slide_accordion .accordion_slide .hero figure:not(.on):hover {
    cursor: pointer
}

.slide_accordion .accordion_slide .hero figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.slide_accordion .accordion_slide .hero figure.on {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-transition: 0.8s linear;
    -o-transition: 0.8s linear;
    transition: 0.8s linear;
    z-index: 20;
    -webkit-filter: saturate(100%);
    filter: saturate(100%)
}

.slide_accordion .accordion_slide .hero figure div {
    -webkit-animation: infoOut;
    animation: infoOut;
    width: 350px
}

@media only screen and (max-width:767px) {
    .slide_accordion .accordion_slide .hero figure div {
        width: 300px
    }
}

.slide_accordion .accordion_slide .effect-in {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    text-align: left
}

.slide_accordion .accordion_slide .effect-in h4 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

@media only screen and (max-width:767px) {
    .slide_accordion .accordion_slide .effect-in h4 {
        font-size: 18px
    }
}

.slide_accordion .accordion_slide .hero figure.on .effect-in {
    opacity: 0
}

@media screen and (max-width:800px) {
    .slide_accordion .accordion_slide .hero {
        font-size: 1.3vw
    }
    .slide_accordion .accordion_slide .hero figure.on div {
        padding: 20px
    }
}

@media screen and (max-width:600px) {
    .slide_accordion .accordion_slide .hero {
        font-size: 1.8vw
    }
    .slide_accordion .accordion_slide .hero figure.on div {
        bottom: 5%;
        left: 0;
        right: 0;
        width: auto
    }
}

section.performance-area {
    padding-bottom: 90px;
    padding-top: 90px
}

@media only screen and (max-width:1199px) {
    section.performance-area {
        padding-bottom: 50px;
        padding-top: 50px
    }
}

@media only screen and (max-width:1199px) and (max-width:991px) {
    section.performance-area {
        padding-bottom: 40px;
        padding-top: 40px
    }
}

@media only screen and (max-width:1199px) and (max-width:991px) and (max-width:767px) {
    section.performance-area {
        padding-bottom: 30px;
        padding-top: 30px;
        overflow: hidden;
        text-align: center
    }
}

@media only screen and (max-width:991px) {
    section.performance-area .col-md-6 {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
        margin: 0 auto
    }
}

section.performance-area h3 {
    color: #eabd4e;
    font-size: 24px;
    letter-spacing: 0.04em;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 70px;
    text-align: center
}

@media only screen and (max-width:1199px) {
    section.performance-area h3 {
        font-size: 20px;
        margin-bottom: 50px
    }
}

@media only screen and (max-width:767px) {
    section.performance-area h3 {
        font-size: 18px;
        margin-bottom: 20px
    }
}

section.performance-area .perform {
    background: #eabd4e;
    padding: 20px;
    width: 100%;
    border-radius: 0 140px 140px 0;
    margin-bottom: 30px
}

@media only screen and (max-width:767px) {
    section.performance-area .perform {
        border-radius: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

section.performance-area .perform .perform_content {
    width: 58%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px
}

@media only screen and (max-width:1199px) {
    section.performance-area .perform .perform_content {
        width: 63%
    }
}

@media only screen and (max-width:1199px) and (max-width:991px) {
    section.performance-area .perform .perform_content {
        margin-right: 50px
    }
}

@media only screen and (max-width:1199px) and (max-width:991px) and (max-width:767px) {
    section.performance-area .perform .perform_content {
        width: 100%;
        text-align: center
    }
}

section.performance-area .perform .perform_content h4 {
    font-size: 18px;
    line-height: 1.4;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 15px
}

@media only screen and (max-width:1199px) {
    section.performance-area .perform .perform_content h4 {
        font-size: 16px;
        margin-bottom: 10px
    }
}

@media only screen and (max-width:1199px) and (max-width:991px) {
    section.performance-area .perform .perform_content h4 {
        font-size: 18px;
        margin-bottom: 15px
    }
}

section.performance-area .perform .perform_content p {
    font-size: 14px;
    color: #000;
    font-weight: 400;
    line-height: 1.8
}

@media only screen and (max-width:1199px) {
    section.performance-area .perform .perform_content p {
        font-size: 13px;
        line-height: 1.6
    }
}

@media only screen and (max-width:1199px) and (max-width:991px) {
    section.performance-area .perform .perform_content p {
        font-size: 14px;
        line-height: 1.8
    }
}

section.performance-area .perform .perform_icon {
    width: 180px;
    height: 180px;
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: center;
    border-radius: 100%;
    line-height: 235px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.39);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.39)
}

@media only screen and (max-width:1199px) {
    section.performance-area .perform .perform_icon {
        width: 125px;
        height: 125px;
        line-height: 165px
    }
}

@media only screen and (max-width:1199px) and (max-width:991px) {
    section.performance-area .perform .perform_icon {
        width: 180px;
        height: 180px;
        line-height: 235px
    }
}

@media only screen and (max-width:1199px) and (max-width:991px) and (max-width:767px) {
    section.performance-area .perform .perform_icon {
        width: 125px;
        height: 125px;
        line-height: 165px;
        margin: 0 auto 20px;
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1
    }
}

section.performance-area .perform .perform_icon svg {
    width: 70px;
    height: 70px;
    fill: #00315a
}

@media only screen and (max-width:1199px) {
    section.performance-area .perform .perform_icon svg {
        width: 55px;
        height: 55px
    }
}

@media only screen and (max-width:1199px) and (max-width:991px) {
    section.performance-area .perform .perform_icon svg {
        width: 70px;
        height: 70px
    }
}

@media only screen and (max-width:1199px) and (max-width:991px) and (max-width:767px) {
    section.performance-area .perform .perform_icon svg {
        width: 55px;
        height: 55px
    }
}

section.performance-area .perform.right {
    border-radius: 140px 0 0 140px;
    text-align: right
}

@media only screen and (max-width:767px) {
    section.performance-area .perform.right {
        border-radius: 0;
        text-align: center
    }
}

section.performance-area .perform.right .perform_content {
    margin-left: 20px;
    margin-right: 0;
    text-align: right
}

@media only screen and (max-width:991px) {
    section.performance-area .perform.right .perform_content {
        margin-left: 50px
    }
}

@media only screen and (max-width:991px) and (max-width:767px) {
    section.performance-area .perform.right .perform_content {
        margin-left: 0px;
        text-align: center
    }
}

section.parallax {
    background-image: url("../images/mission.jpg");
    padding: 65px 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative
}

@media only screen and (max-width:1199px) {
    section.parallax {
        padding: 50px 0;
        background-attachment: scroll
    }
}

@media only screen and (max-width:1199px) and (max-width:991px) {
    section.parallax .col-md-6 {
        ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media only screen and (max-width:1199px) and (max-width:991px) {
    section.parallax {
        padding: 50px 0 75px
    }
}

section.parallax:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.31)
}

@media only screen and (max-width:767px) {
    section.parallax {
        padding: 30px 0;
        font-size: 16px;
        line-height: 17px;
        margin-bottom: 2px
    }
}

@media only screen and (max-width:479px) {
    section.parallax {
        padding: 25px 0 50px;
        font-size: 14px;
        line-height: 15px
    }
}

section.parallax .para_slide {
    position: relative;
    z-index: 4
}

section.parallax .para_slide h3 {
    color: #fff;
    font-size: 24px;
    letter-spacing: 0.04em;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 70px;
    text-align: center
}

@media only screen and (max-width:1199px) {
    section.parallax .para_slide h3 {
        font-size: 20px;
        margin-bottom: 60px
    }
}

@media only screen and (max-width:1199px) and (max-width:991px) {
    section.parallax .para_slide h3 {
        margin-bottom: 35px
    }
}

@media only screen and (max-width:1199px) and (max-width:991px) and (max-width:767px) {
    section.parallax .para_slide h3 {
        font-size: 18px;
        margin-bottom: 20px
    }
}

section.parallax .para_slide .mission_content {
    text-align: right
}

@media only screen and (max-width:767px) {
    section.parallax .para_slide .mission_content {
        text-align: center
    }
}

section.parallax .para_slide .mission_content p {
    color: #fff;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 1.8
}

@media only screen and (max-width:1199px) {
    section.parallax .para_slide .mission_content p {
        font-size: 16px;
        line-height: 1.8
    }
}

@media only screen and (max-width:1199px) and (max-width:767px) {
    section.parallax .para_slide .mission_content p {
        font-size: 14px;
        line-height: 1.6
    }
}

section.parallax .para_slide .mission_img figure {
    background-position: -25px -25px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    position: relative
}

@media only screen and (max-width:1199px) {
    section.parallax .para_slide .mission_img figure {
        height: 300px
    }
}

@media only screen and (max-width:1199px) and (max-width:991px) {
    section.parallax .para_slide .mission_img figure {
        height: 485px;
        margin-top: 35px
    }
}

@media only screen and (max-width:1199px) and (max-width:767px) {
    section.parallax .para_slide .mission_img figure {
        height: 230px;
        margin-top: 20px
    }
}

section.parallax .para_slide .mission_img figure:after {
    content: '';
    position: absolute;
    left: 25px;
    right: 0;
    top: 25px;
    bottom: -25px;
    border: 2px solid #eabd4e;
    z-index: -3
}

section.founder {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 950px;
    padding: 60px 0
}

@media only screen and (max-width:1199px) {
    section.founder {
        height: auto;
        padding: 50px 0 30px
    }
}

@media only screen and (max-width:1199px) and (max-width:767px) {
    section.founder {
        padding: 30px 0 30px
    }
}

section.founder h3 {
    color: #eabd4e;
    font-size: 24px;
    letter-spacing: 0.04em;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 50px;
    text-align: center
}

@media only screen and (max-width:1199px) {
    section.founder h3 {
        font-size: 20px;
        margin-bottom: 40px
    }
}

@media only screen and (max-width:1199px) and (max-width:767px) {
    section.founder h3 {
        font-family: 18px;
        margin-bottom: 25px
    }
}

section.founder .founder_head {
    width: 960px;
    margin-bottom: 50px
}

@media only screen and (max-width:1199px) {
    section.founder .founder_head {
        width: 100%
    }
}

section.founder .founder_head .founder_img {
    display: inline-block;
    vertical-align: top;
    width: 320px;
    position: relative
}

@media only screen and (max-width:1199px) {
    section.founder .founder_head .founder_img {
        width: 305px
    }
}

@media only screen and (max-width:1199px) and (max-width:991px) {
    section.founder .founder_head .founder_img {
        display: block;
        margin: 0 auto;
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1
    }
}

@media only screen and (max-width:1199px) and (max-width:991px) and (max-width:767px) {
    section.founder .founder_head .founder_img {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1
    }
}

section.founder .founder_head .founder_img:before {
    border: 4px solid #eabd4e;
    content: '';
    top: 20px;
    left: 0;
    right: 0;
    bottom: 30px;
    position: absolute;
    width: 315px;
    height: 285px
}

@media only screen and (max-width:991px) {
    section.founder .founder_head .founder_img:before {
        top: 0;
        left: -50px
    }
}

@media only screen and (max-width:991px) and (max-width:767px) {
    section.founder .founder_head .founder_img:before {
        left: -15px
    }
}

section.founder .founder_head .founder_img figure {
    top: 40px;
    position: absolute;
    display: block;
    height: 295px;
    width: 312px;
    left: 20px;
    z-index: 5
}

@media only screen and (max-width:991px) {
    section.founder .founder_head .founder_img figure {
        position: relative;
        left: 0;
        right: 0;
        top: 32px
    }
}

@media only screen and (max-width:991px) and (max-width:767px) {
    section.founder .founder_head .founder_img figure {
        left: 10px;
        right: 0px;
        top: 22px
    }
}

section.founder .founder_head .founder_content {
    display: inline-block;
    vertical-align: top;
    width: 66%;
    background: #eabd4e;
    padding: 40px 55px 90px 70px;
    position: relative;
    left: -40px
}

@media only screen and (max-width:1199px) {
    section.founder .founder_head .founder_content {
        width: 65%;
        left: 0;
        padding: 40px 55px 90px 70px
    }
}

@media only screen and (max-width:1199px) and (max-width:991px) {
    section.founder .founder_head .founder_content {
        width: 100%;
        margin-top: 65px
    }
}

@media only screen and (max-width:1199px) and (max-width:991px) and (max-width:767px) {
    section.founder .founder_head .founder_content {
        padding: 20px;
        margin-top: 50px
    }
}

section.founder .founder_head .founder_content h4 {
    font-size: 22px;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin-bottom: 22px
}

section.founder .founder_head .founder_content h4:after {
    content: '';
    border-bottom: 2px solid #fff;
    display: block;
    width: 70px;
    margin-top: 12px
}

section.founder .founder_head .founder_content p {
    color: #000;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.8
}

section.founder .founder_head.right {
    width: 960px;
    margin-left: auto
}

@media only screen and (max-width:991px) {
    section.founder .founder_head.right {
        width: 100%
    }
}

@media only screen and (max-width:991px) and (max-width:991px) {
    section.founder .founder_head.right {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

@media only screen and (max-width:991px) and (max-width:991px) and (max-width:767px) {
    section.founder .founder_head.right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 0
    }
}

section.founder .founder_head.right .founder_content {
    left: 40px;
    background: #fff;
    padding: 40px 70px 115px 55px
}

@media only screen and (max-width:991px) {
    section.founder .founder_head.right .founder_content {
        left: 0;
        padding: 40px 70px 115px 55px
    }
}

@media only screen and (max-width:991px) and (max-width:767px) {
    section.founder .founder_head.right .founder_content {
        padding: 20px;
        margin-top: 50px
    }
}

section.founder .founder_head.right .founder_content h4 {
    font-size: 22px;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin-bottom: 22px
}

section.founder .founder_head.right .founder_content h4:after {
    content: '';
    border-bottom: 2px solid #eabd4e;
    display: block;
    width: 70px;
    margin-top: 12px
}

section.founder .founder_head.right .founder_img:before {
    border: 4px solid #ffffff
}

section.founder .founder_head.right .founder_img figure {
    left: -20px
}

@media only screen and (max-width:767px) {
    section.founder .founder_head.right .founder_img figure {
        left: 10px
    }
}

footer.footer {
    background: #04192c;
    padding: 100px 0 80px
}

@media only screen and (max-width:991px) {
    footer.footer {
        padding: 50px 0 50px
    }
}

@media only screen and (max-width:991px) and (max-width:767px) {
    footer.footer {
        padding: 30px 0 50px
    }
}

footer.footer h3 {
    font-size: 26px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 45px;
    letter-spacing: 1px
}

@media only screen and (max-width:767px) {
    footer.footer h3 {
        font-size: 20px;
        margin-bottom: 22px
    }
}

footer.footer form .input_area .form-group input.form-control {
    color: #fff;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    height: 52px;
    width: 100%;
    background: #012646;
    border: 1px solid #012646;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
    padding: 0 15px;
    border-radius: 0
}

@media only screen and (max-width:991px) {
    footer.footer form .input_area .form-group input.form-control {
        font-size: 12px;
        height: 38px
    }
}

footer.footer form .text_area textarea.form-control {
    color: #fff;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    width: 100%;
    height: 189px;
    background: #012646;
    border: 1px solid #012646;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
    padding: 10px 15px;
    border-radius: 0;
    resize: none
}

@media only screen and (max-width:991px) {
    footer.footer form .text_area textarea.form-control {
        font-size: 12px;
        height: 145px
    }
}

footer.footer form .text_area .form_btn {
    margin-top: 30px;
    text-align: right;
    position: relative
}

footer.footer form .text_area .form_btn input.wpcf7-form-control.wpcf7-submit {
    background: #fa5200;
    border: 4px solid #fa5200;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #fff;
    padding: 0 30px;
    line-height: 2;
    text-transform: uppercase;
    border-radius: 25px;
    letter-spacing: 1px;
    outline: 0;
    cursor: pointer;
    -webkit-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out
}

footer.footer form .text_area .form_btn input.wpcf7-form-control.wpcf7-submit:focus,
footer.footer form .text_area .form_btn input.wpcf7-form-control.wpcf7-submit:hover {
    background: rgba(250, 82, 0, 0.44);
    border: 4px solid #fa5200;
    color: #fa5200
}

@media only screen and (max-width:991px) {
    footer.footer form .text_area .form_btn input.wpcf7-form-control.wpcf7-submit {
        font-size: 14px
    }
}

footer.footer .footer_logo {
    text-align: center
}

@media only screen and (max-width:767px) {
    footer.footer .footer_logo {
        width: 200px;
        margin: 50px auto 0
    }
}

.fotter_bottom {
    background: #010b15;
    padding: 30px 0;
    text-align: center
}

@media only screen and (max-width:991px) {
    .fotter_bottom {
        padding: 15px 0 30px
    }
}

.fotter_bottom p {
    font-size: 13px;
    color: #767474;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle
}

.fotter_bottom span {
    font-size: 13px;
    color: #767474;
    font-family: "Poppins", sans-serif;
    font-weight: 300
}

.fotter_bottom span a {
    color: #eabd4e;
    font-size: 12px;
    letter-spacing: 0.02em
}

.fotter_bottom span a:hover {
    color: #fff
}

@media only screen and (max-width:767px) {
    .fotter_bottom span {
        width: 100%
    }
}

.scrolltop {
    display: none;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    bottom: 95px;
    right: 10px;
    z-index: 5;
    -webkit-animation: j 4s infinite;
    animation: j 4s infinite;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    z-index: 999
}

.scrolltop .scroll {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: transparent;
    width: 32px;
    height: 32px;
    line-height: 40px;
    border: 2px solid #eabd4e;
    border-radius: 100%;
    text-align: center;
    margin: 0 0 0 0;
    cursor: pointer;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s
}

.scrolltop .scroll:hover {
    background: rgba(234, 189, 78, 0.34);
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transform: translateY(-14px);
    -ms-transform: translateY(-14px);
    transform: translateY(-14px);
    -webkit-animation: i 0.6s linear infinite alternate;
    animation: i 0.6s linear infinite alternate
}

.scrolltop .scroll svg {
    width: 20px;
    height: 20px;
    fill: #eabd4e
}

@media only screen and (max-width:767px) and (orientation:landscape) {
    section.banner .banner_content {
        padding: 80px 1%
    }
    section.banner .banner_content h2 {
        font-size: 20px
    }
    section.banner .banner_content p {
        font-size: 20px
    }
    section.banner .banner_content p strong {
        font-size: 20px
    }
    section.parallax .para_slide .mission_img figure {
        height: 360px;
        margin-top: 20px;
        margin-bottom: 30px
    }
    .fotter_bottom span {
        width: auto
    }
    .fotter_bottom {
        padding: 15px 0 15px
    }
}

@media (-ms-high-contrast:active),
(-ms-high-contrast:none) {
    section.banner {
        background-attachment: scroll
    }
}