@mixin transition {
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

@mixin hover {
    &:hover,
    &:focus {
        background: $hoverBgColor;
        color: $whiteColor;
        border-color: $hoverBgColor;
    }
}

@mixin background($image:none, $size:cover) {
    background-image: url($image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: $size;
}

@mixin background-pro {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin circle($size) {
    height: $size;
    width: $size;
    border-radius: 100%;
}

@mixin fullCover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@mixin btn {
    display: inline-block;
    line-height: 2.6;
    padding: 4px 23px 0px;
    border-radius: 4px;
    box-shadow: none;
    text-transform: uppercase;
    font-family: $font;
    font-weight: $semiBoldFont;
    font-size: 23px;
    letter-spacing: 0.03em;
    cursor: pointer;
    @include transition;

}

@mixin translateY {
    transform: translateY(-50%);
}



@mixin media($point) {
    @if $point==desktop {
        @media only screen and (max-width: 1469px) {
            @content;
        }
    }

    @if $point==iPadLand {
        @media only screen and (max-width: 1199px) {
            @content;
        }
    }
    @else if $point==iPad {
        @media only screen and (max-width: 991px) {
            @content;
        }
    }
    @else if $point==mobile {
        @media only screen and (max-width: 767px) {
            @content;
        }
    }
    @else if $point==mobile-s {
        @media only screen and (max-width: 479px) {
            @content;
        }
    }
}


