@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
/*font-family: 'Poppins', sans-serif;*/
@font-face {
  font-family: 'BrandonText-Bold';
  src: url('../fonts/myfonts/brandontext-bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/myfonts/brandontext-bold.otf')  format('opentype'),
	     url('../fonts/myfonts/brandontext-bold.woff') format('woff'), url('../fonts/myfonts/brandontext-bold.ttf')  format('truetype'), url('../fonts/myfonts/brandontext-bold.svg#BrandonText-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* font-family: 'BrandonText-Bold' !important; */

@font-face {
  font-family: 'BrandonText-Regular';
  src: url('../fonts/myfonts/brandontext-regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/myfonts/brandontext-regular.otf')  format('opentype'),
	     url('../fonts/myfonts/brandontext-regular.woff') format('woff'), url('../fonts/myfonts/fonts/brandontext-regular.ttf')  format('truetype'), url('../fonts/myfonts/fonts/brandontext-regular.svg#BrandonText-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* font-family: 'BrandonText-Regular' !important; */

$font-family: 'Poppins', sans-serif;
$font-color: #00315a;
$bodyFontSize:16px;
$bodyWeight:400;

$font:'Poppins', sans-serif;
$fontColor:#474747;
$lighFont:300;
$regulerFont:400;
$mediumFont:500;
$boldFont:700;
$red: #f16847;
$navBack: #202020;
$whiteColor: #fff;
$blackColor: #000;
$hoverBgColor: #fff;
