@import 'reset';
@import 'variables';
@import 'mixins';
body {
    background: #00315a;
    font-family: $font-family;
    font-size: $bodyFontSize;
    font-weight: $bodyWeight;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family;
    font-weight: $bodyWeight;
}

@media screen and (min-width:1200px) {
    .container {
        max-width: 1170px;
    }
}

.lines {
    background: url(../images/lines.png) repeat;
    background-size: auto;
    position: fixed;
    z-index: -2;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    width: 1143px;
    background-position: center;
    margin: 0 auto;
}


/* Fix-header */

#header-sroll {
    position: fixed;
    background: #becbd9;
    left: 0;
    right: 0;
    top: 0;
    float: left;
    z-index: 999;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#header-sroll .logo img {
    width: 320px;
    line-height: 50px;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#header-sroll.small {
    width: 100%;
    padding: 15px 0 !important;
    background: rgba(255, 255, 255, 0.90);
    box-shadow: 0 1px 7px rgba(24, 179, 50, 0.19);
}

#header-sroll.small .logo img {
    width: 65%;
    @include media(iPad) {
        & {
            width: 55%;
        }
    }
    @include media(mobile) {
        & {
            width: 45%;
        }
    }
}

#header-sroll.small ul.navbar-nav li a {
    &:after {
        bottom: -29px;
    }
}


/* Header-Start */

header {
    padding: 15px 0 20px;
    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        .logo {
            padding: 0;
            margin: 0;
            a {
                display: block;
                img {
                    @include media(iPad) {
                        & {
                            width: 65%;
                        }
                    }
                    @include media(mobile) {
                        & {
                            width: 50%;
                        }
                    }
                }
            }
        }
        .navbar {
            padding: 0;
            @include media(iPad) {
                & {
                    padding: 0;
                    position: static;
                }
                .tel {
                    display: none;
                }
            }
            .navbar-toggler.collapsed {
                -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                transform: rotate(0deg);
                -moz-transition: all 0.4s ease-in-out;
                -webkit-transition: all 0.4s ease-in-out;
                -o-transition: all 0.4s ease-in-out;
                transition: all 0.4s ease-in-out;
            }
            .navbar-toggler {
                border-radius: 0;
                border: none;
                outline: none;
                padding: 0;
                background: url("../images/menu-icon.png") no-repeat;
                background-position: center;
                background-size: 100%;
                -webkit-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
                -moz-transition: all 0.4s ease-in-out;
                -webkit-transition: all 0.4s ease-in-out;
                -o-transition: all 0.4s ease-in-out;
                transition: all 0.4s ease-in-out;
            }
            @include media(iPad) {
                .navbar-collapse {
                    position: absolute;
                    top: 100%;
                    background: #fff;
                    right: 0;
                    left: 0;
                    margin-left: 30px;
                    margin-right: 30px;
                }
            }
            @include media(mobile-s) {
                .navbar-collapse {
                    margin-left: 15px;
                    margin-right: 15px;
                }
            }
            & ul {
                & li {
                    padding: 0 22px;
                    &:last-of-type {
                        padding-right: 0;
                    }
                    @include media(iPadLand) {
                        & {
                            padding: 0 10px;
                        }
                    }
                    @include media(iPad) {
                        & {
                            padding: 10px 0;
                            text-align: center;
                            border-bottom: 1px solid #18b332;
                        }
                    }
                    & a {
                        font-size: 18px;
                        text-transform: uppercase;
                        color: #00315a;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 500;
                        position: relative;
                        &:after {
                            content: '';
                            position: absolute;
                            bottom: -42px;
                            left: 0;
                            right: 0;
                            height: 4px;
                            background: #eabd4e;
                            -webkit-transform: scaleX(0);
                            -o-transform: scaleX(0);
                            transform: scaleX(0);
                            display: block;
                            -webkit-transform-origin: 50% 50%;
                            -o-transform-origin: 50% 50%;
                            transform-origin: 50% 50%;
                            -ms-transition: all 0.3s ease-out;
                            -moz-transition: all 0.3s ease-out;
                            -webkit-transition: all 0.3s ease-out;
                            -o-transition: all 0.3s ease-out;
                            transition: all 0.3s ease-out;
                        }
                        &:hover {
                            color: #eabd4e;
                            &:after {
                                -webkit-transform: scaleX(1);
                                -o-transform: scaleX(1);
                                transform: scaleX(1);
                            }
                        }
                        @include media(iPadLand) {
                            & {
                                font-size: 14px;
                            }
                        }
                    }
                    &.current-menu-item {
                        a {
                            color: #00315a;
                            &:after {
                                -webkit-transform: scaleX(1);
                                -o-transform: scaleX(1);
                                transform: scaleX(1);
                            }
                        }
                    }
                }
            }
        }
    }
}


/*  Banner-Section */

section.banner {
    // @include background-pro;
    height: 950px;
    position: relative;
    background-image: url("../images/banner.jpg");
    padding: 65px 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    &:after {
        content: '';
        background: rgba(11, 49, 97, 0.58);
        /* Old browsers */
        background: -moz-linear-gradient(left, rgba(14, 74, 98, 0.68) 0%, rgba(11, 49, 97, 0.68) 79%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(14, 74, 98, 0.68) 0%, rgba(11, 49, 97, 0.68) 79%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(14, 74, 98, 0.68) 0%, rgba(11, 49, 97, 0.68) 79%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    @include media(iPadLand) {
        & {
            height: 450px;
        }
    }
    @include media(iPad) {
        & {
            height: 315px;
        }
    }
    @include media(mobile) {
        & {
            height: auto;
        }
    }
    @include media(mobile-s) {
        & {
            height: auto;
            margin-top: 82px;
        }
    }
    .banner_content {
        text-align: center;
        padding: 0 10%;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        z-index: 3;
        transform: translateY(-50%);
        @include media(iPadLand) {
            & {
                padding: 0 5%;
            }
        }
        @include media(iPad) {
            & {
                padding: 0 2%;
            }
        }
        @include media(mobile) {
            & {
                padding: 20px 1%;
                position: relative;
                transform: translateY(0);
                top: 0;
            }
        }
        @include media(mobile-s) {
            & {
                padding: 20px 1%;
                position: relative;
                transform: translateY(0);
                top: 0;
            }
        }
        & h2 {
            font-size: 40px;
            color: #fff;
            text-transform: uppercase;
            font-family: 'BrandonText-Bold';
            margin-bottom: 18px;
            @include media(iPadLand) {
                & {
                    font-size: 25px;
                }
            }
            @include media(iPad) {
                & {
                    font-size: 22px;
                }
            }
            @include media(mobile) {
                & {
                    font-size: 16px;
                    margin-bottom: 5px;
                }
            }
            @include media(mobile-s) {
                & {
                    font-size: 16px;
                    margin-bottom: 5px;
                }
            }
        }
        & p {
            font-size: 48px;
            color: #fff;
            line-height: 1;
            font-family: 'BrandonText-Regular';
            padding: 0 5%;
            margin-bottom: 60px;
            @include media(iPadLand) {
                & {
                    font-size: 14px;
                    margin-bottom: 20px;
                }
            }
            @include media(iPad) {
                & {
                    font-size: 16px;
                }
            }
            @include media(mobile) {
                & {
                    font-size: 14px;
                    margin-bottom: 15px;
                }
            }
            @include media(mobile-s) {
                & {
                    font-size: 14px;
                    margin-bottom: 10px;
                }
            }
            strong {
                font-size: 48px;
                color: #eabd4e;
                font-family: 'BrandonText-Regular';
            }
        }
        & a {
            background: #eabd4e;
            padding: 15px 40px;
            font-size: 16px;
            color: #021f35;
            text-transform: uppercase;
            font-family: $font-family;
            font-weight: 600;
            border-radius: 25px;
            &:hover {
                background: #a57f24;
                color: #fff;
            }
            @include media(desktop) {
                & {
                    padding: 12px 30px;
                    font-size: 18px;
                }
            }
            @include media(mobile) {
                & {
                    padding: 8px 22px;
                    font-size: 14px;
                }
            }
            @include media(mobile-s) {
                & {
                    font-size: 14px;
                    padding: 6px 14px;
                }
            }
        }
    }
}

section.our_company {
    text-align: center;
    .company {
        @include background-pro;
        height: 425px;
        padding: 70px 50px;
        position: relative;
        margin-top: -235px;
        h3 {
            color: #eabd4e;
            font-size: 26px;
            letter-spacing: 0.04em;
            font-family: $font-family;
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 40px;
        }
        p {
            color: #fff;
            font-family: $font-family;
            margin-bottom: 20px;
            font-size: 16px;
            line-height: 2.2;
            font-weight: 600;
        }
    }
}

.slide_accordion {
    padding: 70px 0;
    text-align: center;
    h3 {
        color: #eabd4e;
        font-size: 26px;
        letter-spacing: 0.04em;
        font-family: $font-family;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 50px;
    }
    .accordion_slide {
        @-webkit-keyframes infoIn {
            0% {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }
            50% {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }
            100% {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }
        @keyframes infoIn {
            0% {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }
            50% {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }
            100% {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }
        @-webkit-keyframes infoOut {
            0% {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }
            100% {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }
        }
        @keyframes infoOut {
            0% {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }
            100% {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }
        }
        #hero {
            width: 100%;
            display: block;
            overflow: hidden;
            position: relative;
        }
        #hero:before {
            display: block;
            content: "";
            // padding-top: 50%;
            padding-top: 655px;
        }
        .hero {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            overflow: hidden;
            margin: 0;
            padding: 0;
            font-family: "Open Sans", sans-serif;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        .hero figure {
            margin: 0;
            padding: 0;
            width: 25%;
            height: 660px;
            position: relative;
            -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
            -webkit-transition: 0.8s linear;
            -o-transition: 0.8s linear;
            transition: 0.8s linear;
            -webkit-filter: saturate(25%);
            filter: saturate(25%);
            &:after {
                background: rgba(18, 23, 133, 0.48);
                /* Old browsers */
                background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.58) 37%, rgba(18, 23, 133, 0.57) 77%);
                /* FF3.6-15 */
                background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.58) 37%, rgba(18, 23, 133, 0.57) 77%);
                /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right, rgba(0, 0, 0, 0.58) 37%, rgba(18, 23, 133, 0.57) 77%);
                /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
            &.on {
                &:after {
                    background: transparent;
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }
        }
        .hero figure:not(.on):hover {
            cursor: pointer;
        }
        .hero figure img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
        .hero figure.on {
            -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
            -webkit-transition: 0.8s linear;
            -o-transition: 0.8s linear;
            transition: 0.8s linear;
            z-index: 20;
            -webkit-filter: saturate(100%);
            filter: saturate(100%);
        }
        .hero figure div {
            -webkit-animation: infoOut;
            animation: infoOut;
            width: 350px;
        }
        .effect-in {
            position: absolute;
            z-index: 3;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 50%);
            text-align: left;
        }
        .effect-in h4 {
            font-family: "Poppins", sans-serif;
            font-size: 28px;
            font-weight: 600;
            color: #fff;
            transform: rotate(-90deg);
        }
        .hero figure.on .effect-in {
            opacity: 0;
        }
        /*.hero figure.on div {
      position: absolute;
      bottom: 20%;
      left: 5%;
      right: 5%;
      padding: 20px 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #fff;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
      -webkit-animation: infoIn 1.2s;
      animation: infoIn 1.2s;
    }

    .hero figure.on div h2 {
      font-size: 3em;
      width: 100%;
      padding-bottom: 20px;
      border-bottom: 1px solid #00ff00;
      margin-bottom: 10px;
    }

    .hero figure.on div p {
      font-size: 1.7em;
      width: 100%;
      margin-bottom: 0;
    }

    .hero figure.on div a {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 0.8em;
      font-weight: 600;
      transition: 0.3s ease;
    }

    .hero figure.on div a:after {
      content: "\f054";
      font-family: "FontAwesome";
      margin-left: 5px;
      display: inline-block;
      color: #00ff00;
      transition: 0.3s ease;
    }

    .hero figure.on div a:hover::after {
      transform: translateX(3px);
      transition: 0.3s ease;
    }

    .hero figure.on div a:hover {
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.9), 0 2px 3px rgba(0, 0, 0, 0.7);
      transition: 0.3s ease;
    }

    */
        @media screen and (max-width: 800px) {
            .hero {
                font-size: 1.3vw;
            }
            .hero figure.on div {
                padding: 20px;
            }
        }
        @media screen and (max-width: 600px) {
            .hero {
                font-size: 1.8vw;
            }
            .hero figure.on div {
                bottom: 5%;
                left: 0;
                right: 0;
                width: auto;
            }
        }
    }
}

section.performance-area {
    padding-bottom: 90px;
    h3 {
        color: #eabd4e;
        font-size: 26px;
        letter-spacing: 0.04em;
        font-family: $font-family;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 70px;
        text-align: center;
    }
    .perform {
        background: #eabd4e;
        padding: 20px;
        width: 100%;
        border-radius: 0 140px 140px 0;
        margin-bottom: 30px;
        .perform_content {
            width: 58%;
            display: inline-block;
            vertical-align: middle;
            margin-right: 20px;
            h4 {
                font-size: 20px;
                line-height: 1.2;
                color: #fff;
                letter-spacing: 1px;
                $font-family: 'Poppins', sans-serif;
                font-weight: 600;
                margin-bottom: 15px;
            }
            p {
                font-size: 14px;
                color: #000;
                $font-family: 'Poppins', sans-serif;
                font-weight: 400;
                line-height: 1.8;
            }
        }
        .perform_icon {
            width: 180px;
            height: 180px;
            background: #fff;
            display: inline-block;
            vertical-align: middle;
            margin: 0 auto;
            text-align: center;
            border-radius: 100%;
            line-height: 235px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.39);
            svg {
                width: 70px;
                height: 70px;
                fill: #00315a;
            }
        }
    }
    .perform.right {
        border-radius: 140px 0 0 140px;
        text-align: right;
        .perform_content {
            margin-left: 20px;
            margin-right: 0;
            text-align: right;
        }
    }
}


/* Parallex */

section.parallax {
    background-image: url("../images/mission.jpg");
    padding: 65px 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.31);
    }
    @include media(mobile) {
        & {
            padding: 30px 0;
            font-size: 16px;
            line-height: 17px;
            margin-bottom: 2px;
        }
    }
    @include media(mobile-s) {
        & {
            padding: 25px 0;
            font-size: 14px;
            line-height: 15px;
        }
    }
    .para_slide {
        position: relative;
        z-index: 4;
        h3 {
            color: #fff;
            font-size: 26px;
            letter-spacing: 0.04em;
            font-family: "Poppins", sans-serif;
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 70px;
            text-align: center;
        }
        .mission_content {
            text-align: right;
            p {
                color: #fff;
                font-size: 18px;
                font-family: "Poppins", sans-serif;
                font-weight: 300;
                line-height: 1.8;
            }
        }
        .mission_img {
            figure {
                background-position: -25px -25px;
                background-size: cover;
                background-repeat: no-repeat;
                height: 350px;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    left: 25px;
                    right: 0;
                    top: 25px;
                    bottom: -25px;
                    border: 2px solid #eabd4e;
                    z-index: -3;
                }
            }
        }
    }
}

section.founder {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 950px;
    padding: 60px 0;
    h3 {
        color: #eabd4e;
        font-size: 26px;
        letter-spacing: 0.04em;
        font-family: "Poppins", sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 50px;
        text-align: center;
    }
    .founder_head {
        width: 960px;
        margin-bottom: 50px;
        .founder_img {
            display: inline-block;
            vertical-align: top;
            width: 320px;
            position: relative;
            &:before {
                border: 4px solid #eabd4e;
                content: '';
                top: 20px;
                left: 0;
                right: 0;
                bottom: 30px;
                position: absolute;
                width: 315px;
                height: 285px;
            }
            figure {
                top: 40px;
                position: absolute;
                display: block;
                height: 295px;
                width: 312px;
                left: 20px;
                z-index: 5;
            }
        }
        .founder_content {
            display: inline-block;
            vertical-align: top;
            width: 66%;
            background: #eabd4e;
            padding: 40px 55px 68px 70px;
            position: relative;
            left: -40px;
            h4 {
                font-size: 25px;
                color: #000;
                font-family: "Poppins", sans-serif;
                font-weight: 400;
                margin-bottom: 22px;
                &:after {
                    content: '';
                    border-bottom: 2px solid #fff;
                    display: block;
                    width: 70px;
                    margin-top: 12px;
                }
            }
            p {
                color: #000;
                font-size: 16px;
                font-family: "Poppins", sans-serif;
                font-weight: 400;
                line-height: 1.8;
            }
        }
    }
    .founder_head.right {
        width: 960px;
        margin-left: auto;
        .founder_content {
            left: 40px;
            background: #fff;
            padding: 40px 70px 68px 55px;
            h4 {
                font-size: 25px;
                color: #000;
                font-family: "Poppins", sans-serif;
                font-weight: 400;
                margin-bottom: 22px;
                &:after {
                    content: '';
                    border-bottom: 2px solid #eabd4e;
                    display: block;
                    width: 70px;
                    margin-top: 12px;
                }
            }
        }
        .founder_img {
            &:before {
                border: 4px solid #ffffff;
            }
            figure {
                left: -20px;
            }
        }
    }
}

footer.footer {
    background: #04192c;
    padding: 70px 0 50px;
    h3 {
        font-size: 34px;
        color: #fff;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 45px;
        letter-spacing: 1px;
    }
    form {
        .input_area {
            .form-group {
                input.form-control {
                    color: #fff;
                    font-size: 14px;
                    font-family: "Poppins", sans-serif;
                    font-weight: 300;
                    height: 52px;
                    width: 100%;
                    background: #012646;
                    border: 1px solid #012646;
                    box-shadow: none;
                    outline: 0;
                    padding: 0 15px;
                    border-radius: 0;
                }
            }
        }
        .text_area {
            textarea.form-control {
                color: #fff;
                font-size: 14px;
                font-family: "Poppins", sans-serif;
                font-weight: 300;
                width: 100%;
                height: 189px;
                background: #012646;
                border: 1px solid #012646;
                box-shadow: none;
                outline: 0;
                padding: 10px 15px;
                border-radius: 0;
                resize: none;
            }
            .form_btn {
                margin-top: 30px;
                text-align: right;
                button {
                    background: #fa5200;
                    border: 4px solid #fa5200;
                    font-size: 16px;
                    font-family: "Poppins", sans-serif;
                    font-weight: 600;
                    color: #fff;
                    padding: 0 30px;
                    line-height: 2;
                    text-transform: uppercase;
                    border-radius: 25px;
                    letter-spacing: 1px;
                    outline: 0;
                    cursor: pointer;
                    -webkit-transition: 0.4s ease-in-out;
                    transition: 0.4s ease-in-out;
                    &:focus,
                    &:hover {
                        background: rgba(250, 82, 0, 0.44);
                        border: 4px solid #fa5200;
                        color: #fa5200;
                    }
                }
            }
        }
    }
    .footer_logo {
        text-align: center;
    }
}

.fotter_bottom {
    background: #010b15;
    padding: 20px 0;
    text-align: center;
    p {
        font-size: 16px;
        color: #767474;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        display: inline-block;
        vertical-align: middle;
    }
    span {
        font-size: 14px;
        color: #767474;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        a {
            color: #eabd4e;
            font-size: 13px;
            letter-spacing: 0.02em;
            &:hover {
                color: #fff;
            }
        }
    }
}

.scrolltop {
    display: none;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 5;
    animation: j 4s infinite;
    transform: translateY(0);
    .scroll {
        position: absolute;
        right: 20px;
        bottom: 20px;
        background: transparent;
        width: 32px;
        height: 32px;
        line-height: 40px;
        border: 2px solid #eabd4e;
        border-radius: 100%;
        text-align: center;
        margin: 0 0 0 0;
        cursor: pointer;
        transition: 0.5s;
        -moz-transition: 0.5s;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        &:hover {
            background: rgba(234, 189, 78, 0.34);
            transition: 0.5s;
            -moz-transition: 0.5s;
            -webkit-transition: 0.5s;
            -o-transition: 0.5s;
            transform: translateY(-14px);
            animation: i 0.6s linear infinite alternate;
        }
        svg {
            width: 20px;
            height: 20px;
            fill: #eabd4e;
        }
    }
}